nav>a{
    color: crimson;
    text-decoration: none;
}

#about blockquote{
    background-color:#eaeaea ;
}

#users span{
    font-weight: bold;
    
}

span:last-child{
    color: crimson;
}
#creators a:nth-child(1){
    font-style: lato;
    font-weight: bold;
}